

{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<div>
    <h1 class="create-account">Créer un compte</h1>
</div>
        <section class="section-register-form">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-4 mx-auto ">

                            <form action="">

                            {{ form_start(registrationForm) }}

                            <div>{{ form_row(registrationForm.pseudo) }}</div>
                            <div>{{ form_row(registrationForm.age) }}</div>
                            <div>{{ form_row(registrationForm.email) }}</div>
                            <div>{{ form_row(registrationForm.plainPassword) }}</div>
                            <div>{{ form_row(registrationForm.avatar) }}</div>

                                {{ form_row(registrationForm.save) }}

                            {{ form_end(registrationForm) }}

                            </form>

                        </div>
                    </div>
        </section>
{%  endblock %}