<header>
    <div class="row">
        <div class="ms-auto mb-2 mb-lg-0">
        <div class="container-fluid">
                <img class="banniere" src="{{ asset('../../images/banniere_ombre_de_toi2.png') }}" alt="Logo et titre du site">
        </div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <div class="container-fluid p-3">

                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link fs-5 text-uppercase" aria-current="page" href="{{ path('app_accueil') }}"><i class="fa-solid fa-house fa-xs" style="color: #e6e6e6;"></i>Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fs-5 text-uppercase" href="{{ path('app_tpb') }}"><i class="fa-solid fa-brain fa-xs" style="color: #e0e0e1;"></i>Le TPB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 text-uppercase" href="{{ path('app_ressources') }}"><i class="fa-solid fa-newspaper fa-xs" style="color: #eaeaeb;"></i>Ressources</a>
                        </li>
                    </ul>

                    {# Séparateur #}
                    <div class="dropdown-divider"></div>

        {#     PAQUET NAV DE DROITE       #}

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown"></li>

                                    {# Lien de la page mon profil #}
                                    <a class="nav-link text-uppercase p-3" href="{{ path('app_profil') }}"><i class="fas fa-users-cog me-1"></i>Profil</a>

                                    {# Lien de la page de connexion  #}
                                    <a class="nav-link text-uppercase p-3" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt me-1"></i>Connexion</a>

                                    {# Lien de la page de déconnexion  #}
                                    <a class="nav-link text-uppercase p-3" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt me-1"></i>Déconnexion</a>

                                    {# Lien de la page d'inscription' #}
                                    <a class="nav-link text-uppercase p-3 right" href="{{ path('app_register') }}"><i class="fa-solid fa-user-plus me-1"></i>Inscription</a>

                                </div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>