{#utilisation squelette#}
{% extends "base.html.twig" %}

{#Définition titre#}
{% block title %}Liste des publications{% endblock %}

{#Remplissage du body#}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-5 subjects-title">Sujets de discussion</h1>
        </div>
    </div>
</div>

{#  BOUTON POUR CRÉER SUJET DE DISCUSSION  #}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a class="btn-success p-3 add-subject" href="{{ path('discussion_new_publication') }}"><i class="fa-solid fa-plus" style="color: #eaeaeb;"></i>Créer un nouveau sujet</a>
            </div>
        </div>
    </div>

    {# Affichage des articles #}
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="row">
                <div class="col-12">

                    {# Boucle pour parcourir tous les articles à afficher #}
                    {% for article in articles %}

                        <div class="card my-3 bg-success article-content">

                            <div class="card-header">

                                {# Titre de l'article, cliquable vers la page détaillée de l'article #}
                                <a class="text-decoration-none fw-bold text-white text-uppercase" href="{{ path('discussion_publication_view', {id: article.id})}}">
                                    <i class="far fa-newspaper me-2 text-white"></i>{{ article.title }}
                                </a>
                            </div>
                            <div class="card-body text-light">

                                <div class="mb-2">

                                    {# Affichage du contenu de l'article, tronqué à 100 mots, sans balises html, suivi de "..." et d'un lien "lire la suite" #}
                                    {{ article.content|striptags|excerpt(100) }}
                                    <a class="text-decoration-none text-light" href="xxxxx">Lire la suite</a>
                                </div>

                                {# Date et auteur de l'article #}
                                <footer class="blockquote-footer my-2 text-light">Publié le <strong>{{  article.publicationDate|date('d/m/Y à H\\hi') }}</strong> par <strong>{{  article.author.pseudo }}</strong></footer>

                            </div>
                        </div>

                    {% else %}

                        <div class="row">
                            <div class="col-12 text-center alert alert-warning">Aucune publication à afficher.</div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {#  BOUTON POUR CRÉER SUJET DE DISCUSSION  #}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a class="btn-success p-3 add-subject" href="{{ path('discussion_new_publication') }}"><i class="fa-solid fa-plus" style="color: #eaeaeb;"></i>Créer un nouveau sujet</a>
            </div>
        </div>
    </div>


{% endblock %}